/* generics  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container-s {
    max-width: 1000px;
    margin: 0 auto;
}

.container-l {
    max-width: 1200px;
    margin: 0 auto;
}