/* GENERICS  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container-s {
    max-width: 1000px;
    margin: 0 auto;
}

.container-l {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* UTIILITIES */ 

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

img { 
    max-width: 100%;  
}

i .fas, .far {
    margin-right: 5px;
}

h2 {
    font-size: 32px;        /*  CONTROLLARE */
}

h3 {                        /*  CONTROLLARE */ 
    font-size: 25px;
}


/* testo */
.txt-blue {
    color:rgb(0, 97, 255);
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

/* bottoni */
.btn {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px 20px;
}

/* .btn-white {
    border: 1px solid black;
} */


/* margin      CONTROLLARE */
.mb-30 {                              /* top */
    margin-bottom: 30px; 
}

.mt-20 {                              /* bottom */      
    margin-top: 20px;
}

.mt-30 {                               /* bottom */ 
    margin-top: 30px; 
}



/* padding */
.pb-40 {                             /* bottom */
    padding-bottom: 40px;
}

.py-50 {
    padding: 50px 0;
}

.py-10 {                              /* top&bottom */
    padding: 10px 0;           /*  CONTROLLARE */
} 


/* .my-10 {
    margin: 10px 0;
} */



/* COLONNE */
.col {
    float: left;
}

.col.w-20 {
    width: 20%;
}

.col.w-30 {
    width: 30%;
}

.col.w-33 {
    width: calc(100% / 3);
}

.col.w-50 {
    width: 50%;
}

.col.w-70 {
    width: 70%;
}


/* HEADER*/
#main-header nav {
    height: 80px;
    line-height: 80px;
}

#logo  {
    vertical-align: middle;       /*manca padding-left*/
}

#main-header .menu li {
    list-style-type: none; /* (in comune con altre liste)  */
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;                     /*  CONTROLLARE */ 
}

#main-header {
    padding-bottom: 100px;              /*  CONTROLLARE */ 
}


/* SPOTLIGHT */
#spotlight {
    height: 650px;
    background-color: rgb(180, 208, 231);
}

#spotlight .container-l {
    position: relative;
}

#spotlight h1 {
    font-size: 58px;
    padding-top: 50px;                      /*  CONTROLLARE */ 
    
}

#spotlight .fa-arrow-down {
    position: absolute;
    bottom: 200px;
    left: 0;
}


/* corpo centrale */

/* fee plan */
.dp-business .col.w-33, 
.plan .col.w-33 {
    width: calc((100% - 60px)/ 3);
}

.col.w-33:nth-of-type(2) {
    margin: 0 30px;
}

.plan-option .content {
    border: 1px solid rgb(208, 208, 211);
    height: 800px;
}

.plan-option .content header {
    border-bottom: 1px solid rgb(208, 208, 211);
}

.plan-option .content .plan-type {
    padding-left: 30px;
                                     /*  CONTROLLARE */
}


hr {
    height: 1px;
    background-color: rgb(208, 208, 211);
    margin: 30px 0 40px 0px;
    border: 0;
}

hr.hr-s {
    width: 50px;
}

hr.hr-l {
    width: 80px;
}


/* liste  */
.plan-option .icon {
    list-style-type: none;
    margin: 15px 0;
    
}

.icon::before,
.icon::after {
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    margin-right: 5px;
}


.faq .icon {
    list-style-type: none;
    padding: 30px 0;
    border-top: 1px solid rgb(208, 208, 211);
}

.faq li:last-child {
    border-bottom: 1px solid rgb(208, 208, 211);
}



/* icone  */
.icon.check::before {
    content:"\f00c";
    color: blue;
}

.icon.user-plus::before {
    content:"\f234";
}

.icon.folder::before {
    content:"\f07b";
}

.icon.pencil::before {
    content:"\f303";
}

.icon.smile::before {
    content:"\f118";
}

.icon.world::before {
    content:"\f7a2";
}

.icon.arrow-up::after {
    content:"\f0de";
}

.icon.arrow::after {
    content:"\f078";
    position: absolute;
    right: 20px;
}                                            /*  CONTROLLARE */



/* partner  */
.partner .content {
    padding: 40px;                            /*  CONTROLLARE */
    
}

.partner p {
    margin: 20px 0;                           /*  CONTROLLARE */
}


/* Dropbox business */
input[type="radio"] {
    margin-left: 10px;
    vertical-align: middle;
}

/* free trial */
/* 
.trial {
    background-color: rgb(180, 208, 231);
    height: 300px;
    position: relative;
}

.trial .content {
    position: absolute;
    top: 50%;
    
} */

/* FAQ */

.faq .container-s {
    position: relative;
}

/* FOOTER  */
footer {
    background-color: black;
    height: 500px;
    color: white;
}

footer li {
    list-style-type: none;
    padding: 5px 0;
}

.contact {                             /*CONTROLLARE*/ 
    padding-top: 100px;
}

.contact h4 {                            /*CONTROLLARE*/
    padding-bottom: 20px;
}

.contact .lang {
    font-size: 10px;
    
}

